.App {
    text-align: center;
  }
  
  .App-header {
    text-shadow: 2px 2px #2B7A78;
    font-family: 'Roboto', sans-serif !important;
    text-align: center;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%) !important;
    background-color: #3AAFA9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Roboto', sans-serif;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .beginButton {
    font-size: 3rem;
    color: #707070;
    background-color: #F2F2F2;
    border-color: #F2F2F2;
    border-radius: 0.5rem;
    align-items: center;
    margin-top: 1rem;
  }
  